@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Identity Server 3</h1>
    <p>
        IdentityServer is a .NET/Katana-based framework and hostable component that allows implementing single sign-on and access control
        for modern web applications and APIs using protocols like OpenID Connect and OAuth2.
    </p>
    <p>
        <a href="https://identityserver.github.io/Documentation/docsv2/overview/mvcGettingStarted.html"
           class="btn btn-primary btn-lg">Get started</a>

        <a href="https://github.com/IdentityServer/IdentityServer3"
           class="btn btn-primary btn-lg">Identity Server Documentation</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User Management</h2>
        <p>
            User management
        </p>
        <p>
            <a class="btn btn-default" href="/useradmin">User Management &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Admin Configurations</h2>
        <p>
            IdentityAdmin is a tool for developers and/or administrators to manage the clients and scopes of their applications.
            This includes creating clients/scopes, editing client/scopes and deleting clients/scopes.
        </p>
        <p>
            <a class="btn btn-default" href="/configadmin">Admin Configurations &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Identity</h2>
        <p>Identity Core.</p>
        <p>
            <a class="btn btn-default" href="/identity">Identity &raquo;</a>
        </p>
    </div>
</div>