<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RedisHost" value="HydraQA.redis.cache.windows.net" />
    <add key="RedisAccountKey" value="HNGDwMtA02f8aeO52rdOcx8ZRYbvfM/nvAjS1V9V15s=" />
    <add key="RedisIsSecured" value="true" />
  </appSettings>
</configuration>